.layout__item--full-width           { width: 100%; }

.layout__item--50-percent           { width: 50%; }


.layout__item--full-height-w-footer { min-height: calc(100vh - 11.1111vh); }


.layout__item--floated-left  { float: left; } /* [1] */

.layout__item--floated-right { float: right; }/* [1] */


.clearfix:after {
    content:  "";
    display:  table;
    clear:    both;
  }